@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

html {
  scrollbar-gutter: stable;
}


@supports not (scrollbar-gutter: stable) {
  body {
    /* Luôn hiển thị gutter scrollbar để không bị nhảy layout */
    overflow-y: scroll;
  }
}

